.nav-link {
    cursor: pointer;  
}
/* 
.navbar-brand .badge {
    font-size: 1.5rem;
} */

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.badge.bg-danger {
    font-size: 1.3rem;
    padding: 10px;
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.479);
}